<!DOCTYPE html>
<!-- <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to index</h1>
</body>
</html> -->
{% extends 'basic_app/base.html' %} {% block body_block %}
{% load my_extras%}
<h1> Welcome to Index page</h1>
<h2> This is Index html Showing</h2>
<p> {{text| title }} </p>
<p> {{text| upper }} </p>
<p> {{text| cutt:'world' }} </p>
<p>{{number| add:'99'}}</p>
{% endblock %}
